@import 'global_variables_mixins';


.places-list{
	box-sizing: border-box;
	display: flex;
  flex-direction: column;
	min-width: 350px;
  overflow-y: scroll;
	padding: 24px 26px 0;
  
  .result-card{
    background-color: #fff;
    border: #d3d3d3 1px solid;
    border-radius: 6px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    height: 92px;
    justify-content: space-between;
    margin: 0 0 8px 0;
    padding: 14px 16px;
    width: 300px;
    &.selected{
      border: $green 2px solid;
    }
  }

  .heart-container{
    .fa-heart-o{
      color: #808080;
    }

    .fa-heart{
      color: $green;
    }
  }

  @include small-screen-only {
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
